<{* $Revision: 1.1.2.2 $ *}>
<table class="outer">
  <!-- Basic Information -->
<{include file="db:xoonips_transfer_detail_doi.html"}>
<{include file="db:xoonips_transfer_detail_lang.html"}>
<{include file="db:xoonips_transfer_detail_titles.html"}>
<{include file="db:xoonips_transfer_detail_update_date.html"}>
<{include file="db:xoonips_transfer_detail_creation_date.html"}>
<{include file="db:xoonips_transfer_detail_contributor.html"}>
<{include file="db:xoonips_transfer_detail_item_type.html"}>
<{include file="db:xoonips_transfer_detail_changelogs.html"}>
  <!-- File Item Detail Information -->
  <tr>
    <td class="head"><{$smarty.const._MD_XNPFILES_DATA_FILE_LABEL}></td>
    <td class="<{cycle name="oddeven"}>">
<{if isset( $xoonips_item.detail.files_file )}>
<{include file="db:xoonips_transfer_detail_file.html" fileinfo=$xoonips_item.detail.files_file}>
<{/if}>
    </td>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_XNPFILES_DATA_FILE_NAME}></td>
    <td class="<{cycle name="oddeven"}>"><{$xoonips_item.detail.file_name}></td>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_XNPFILES_DATA_FILE_MIMETYPE}></td>
    <td class="<{cycle name="oddeven"}>"><{$xoonips_item.detail.mime_type}></td>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_XNPFILES_DATA_FILE_FILETYPE}></td>
    <td class="<{cycle name="oddeven"}>"><{$xoonips_item.detail.file_type}></td>
  </tr>
<{include file="db:xoonips_transfer_detail_keywords.html"}>
<{include file="db:xoonips_transfer_detail_description.html"}>
  <!-- index -->
<{include file="db:xoonips_transfer_detail_indexes.html"}>
  <!-- related_to -->
<{include file="db:xoonips_transfer_detail_related_tos.html"}>
</table>
