<patTemplate:tmpl name="main">
<patTemplate:tmpl name="header_include" src="adminheader.tmpl.html" parse="on"/>
<form name="xoonips_admin_maintenance_position" action="maintenance.php?page=position" method="post">
<input name="action" value="update" type="hidden"/>
{TOKEN_TICKET}
<table width="100%" cellspacing="1" class="outer">
  <tbody>
  <tr>
    <th style="width: 80%; text-align: left;">{USER_TITLE}</th>
    <th style="width: 20%; text-align: center;">{WEIGHT}</th>
  </tr>
  <patTemplate:tmpl name="positions">
  <tr>
    <td class="{EVENODD}" style="width: 80%; vertical-align: top; text-align: left;">
      <span style="font-weight: bold;">{POSITION} [ {NAME} ]</span>
    </td>
    <td class="{EVENODD}" style="width: 20%; vertical-align: top; text-align: center;">
      <input type="text" name="order[{UID}]" value="{ORDER}" size="5" maxlength="5" style="text-align: right;"/>
    </td>
  </tr>
  </patTemplate:tmpl>
  <patTemplate:tmpl name="positions_submit">
  <tr>
    <td class="head" colspan="2" style="text-align: center;">
      <input name="submit_update" type="submit" value="{UPDATE}"/>
    </td>
  </tr>
  </patTemplate:tmpl>
  <patTemplate:tmpl name="positions_empty" visibility="hidden">
  <tr>
    <td class="odd" colspan="2" style="text-align: center;">
      <span style="color: red; font-weight: bold;">{EMPTY}</span>
    </td>
  </tr>
  </patTemplate:tmpl>
  </tbody>
</table>
</form>
<br />
<patTemplate:tmpl name="footer_include" src="adminfooter.tmpl.html" parse="on"/>
</patTemplate:tmpl>
