<table class="outer">
  <!-- Basic Information -->
<{include file="db:xoonips_transfer_detail_doi.html"}>
<{include file="db:xoonips_transfer_detail_lang.html"}>
<{include file="db:xoonips_transfer_detail_titles.html"}>
<{include file="db:xoonips_transfer_detail_keywords.html"}>
<{include file="db:xoonips_transfer_detail_description.html"}>
<{include file="db:xoonips_transfer_detail_update_date.html"}>
<{include file="db:xoonips_transfer_detail_creation_date.html"}>
<{include file="db:xoonips_transfer_detail_contributor.html"}>
<{include file="db:xoonips_transfer_detail_item_type.html"}>
<{include file="db:xoonips_transfer_detail_changelogs.html"}>

  <!-- Model Item Detail Information -->
  <tr>
    <td class="head"><{$smarty.const._MD_XNPMODEL_MODEL_TYPE_LABEL}></td>
    <td class="<{cycle name="oddeven"}>"><{$xoonips_item.detail.model_type}></td>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_XNPMODEL_CREATOR_LABEL}></td>
    <td class="<{cycle name="oddeven"}>" >
<{include file='db:xoonips_confirm_multiple_field.html' vars=$xoonips_item.xnpmodel_creator}>
    </td>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_XNPMODEL_PREVIEW_LABEL}></td>
    <td class="<{cycle name="oddeven"}>">
<{if isset( $xoonips_item.detail.previews )}>
<{include file="db:xoonips_transfer_detail_previews.html" previews=$xoonips_item.detail.previews}>
<{/if}>
    </td>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_XNPMODEL_MODEL_FILE_LABEL}></td>
    <td class="<{cycle name="oddeven"}>">
<{if isset( $xoonips_item.detail.model_data )}>
<{include file="db:xoonips_transfer_detail_file.html" fileinfo=$xoonips_item.detail.model_data}>
<{/if}>
    </td>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_XOONIPS_ITEM_README_LABEL}></td>
    <td class="<{cycle name="oddeven"}>"><{$xoonips_item.detail.readme}></td>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_XOONIPS_ITEM_RIGHTS_LABEL}></td>
    <td class="<{cycle name="oddeven"}>"><{$xoonips_item.detail.rights}></td>
  </tr>
  <!-- index -->
<{include file="db:xoonips_transfer_detail_indexes.html"}>
  <!-- related_to -->
<{include file="db:xoonips_transfer_detail_related_tos.html"}>
</table>
