<table class="outer">
<{include file='db:xoonips_transfer_detail_doi.html'}>
<{include file='db:xoonips_transfer_detail_lang.html'}>
<{include file='db:xoonips_transfer_detail_titles.html'}>
<{include file='db:xoonips_transfer_detail_keywords.html'}>
<{include file='db:xoonips_transfer_detail_description.html'}>
<{include file='db:xoonips_transfer_detail_update_date.html'}>
<{include file='db:xoonips_transfer_detail_creation_date.html'}>
<{include file='db:xoonips_transfer_detail_contributor.html'}>
<{include file='db:xoonips_transfer_detail_item_type.html'}>
<{include file='db:xoonips_transfer_detail_changelogs.html'}>
<{include file='db:xoonips_transfer_detail_publication_ymd.html'}>
<{include file='db:xoonips_transfer_detail_indexes.html'}>
<{include file='db:xoonips_transfer_detail_related_tos.html'}>
</table>
